
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"/>

<div class="container"  ng-controller="registrationController">

    <form class="form-signin" ng-submit="loginUser(user)">
        <div>
    <!--    <form class="form-signin" ng-submit="loginUser(credentials)">-->
            <h1 align="center" class="form-signin-heading">Регистрация</h1>
            <p align="center">Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
            <div class="alert alert-danger" ng-hide="!error">
                При регистрации возникла проблема. Повторите попытку.
            </div>
            <hr>
            <label for="username" class="sr-only"><b>Имя пользователя</b></label>
            <input type="text"id="username" name="username" class="form-control" placeholder="Введите имя пользователя (логин)"  ng-model="user.username" required>
<!--            <hr>-->
            <label for="email" class="sr-only"><b>Email</b></label>
            <input type="text" id="email" name="email" class="form-control"  placeholder="Введите Email" ng-model="user.email" required>
            <hr>
            <label for="firstname" class="sr-only"><b>Ваше имя</b></label>
            <input type="text"id="firstname" name="firstname" class="form-control" placeholder="Введите Ваше имя"  ng-model="user.firstname" required>
            <!--            <hr>-->
            <label for="lastname" class="sr-only"><b>Ваша фамилия</b></label>
            <input type="text" id="lastname" name="lastname" class="form-control"  placeholder="Введите Вашу фамилию" ng-model="user.lastname" required>
            <hr>
            <label for="password" class="sr-only"><b>Пароль</b></label>
            <input type="password" id="password" name="password" class="form-control"  placeholder="Введите пароль" ng-model="user.password" required>
<!--            <hr>-->
            <label for="confirmPassword" class="sr-only"><b>Подтверждение пароля</b></label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Повторите ввод пароля" ng-model="user.confirmPassword" required>
<!--            <hr>-->
            <button type="submit" class="btn btn-lg btn-primary btn-block">Регистрация</button>
        </div>
        <br>
        <div class="container signin">
            <p>Уже есть аккаунт? <a href="#/login">Авторизуйтесь</a>.</p>
        </div>
    </form>
</div>
